/* This css is for responsive */
@media only screen and (max-width: 1040px) and (min-width: 900px) {
  /* #width-70 {
    width: 100%;
  } */
}

@media (max-width: 768px) {
  .mobile-verify-btn {
    font-size: 12px !important;
    margin-right: 10px !important;
    margin-left: 0px !important;
  }
  .navbar-btn span {
    font-size: 10px;
  }
  .fresh-fruit {
    font-size: 19px;
  }
  .fruit-logo {
    height: 40px;
    width: 40px;
    bottom: 10px;
  }
  .main-navbar {
    height: 116px;
  }
  #input-width {
    width: 80%;
  }
  .navbar-input {
    font-size: 13px;
  }
  .main-menu {
    font-size: 13px;
    padding-left: 0%;
    padding-right: 0%;
  }
  .sub-slider {
    width: 50%;
    height: 100px;
    padding: 5px;
  }
  .footer-div {
    padding: 50px 20px 20px 20px;
  }
  .footer-items h4 {
    font-size: 14px !important;
  }
  .footer-content {
    font-size: 13px;
    margin-bottom: 35px;
  }
  .footer-content p {
    margin-top: -8px;
  }
  h5 {
    font-size: 15px !important;
    text-align: center;
    margin-left: 0px;
  }
  .terms-b-box {
    padding: 15px 20px 20px 10px;
  }
  .terms-c-box {
    padding: 15px 10px 10px;
  }
  .terms-logo {
    margin-right: 5px;
    width: 60px;
    height: 50px;
    margin-left: 0%;
  }
  .terms-head {
    font-size: 17px;
  }
  .terms-head-sec {
    font-size: 20px;
    position: relative;
    right: 30px;
    bottom: 22px;
  }
  .terms-body {
    margin-top: -23px;
  }
  .mobile-terms-head-sec {
    position: relative;
    top: -12px;
    right: 0px;
  }
  p {
    font-size: 13px !important;
  }
  .terms-b-box {
    padding: 15px 20px 20px 15px;
    width: 79%;
    margin-left: 10%;
  }
  .sub-contact {
    width: 50%;
    margin-left: 5px;
    margin-right: 5px;
  }
  .cantact-div {
    justify-content: space-between;
  }
  .contact-p .contact-email {
    font-size: 13px !important;
  }
  .contact-btn {
    width: 40%;
    margin-top: 20px !important;
  }
  .contact-icon {
    font-size: 30px !important;
  }
  .contact-input {
    font-size: 13px !important;
  }
  .sideMenu {
    position: absolute;
    height: auto;
    width: 50%;
    z-index: 2;
    top: 185px;
  }
  .fruit-item {
    font-size: 15px;
  }

  .available-div .fruit-c-ml {
    /* width: 40%; */
    width: 45%;
  }
  h4 {
    font-size: 18px !important;
  }
  .fruit-c-ml {
    margin-left: 10px !important;
  }
  .big-slider {
    height: 300px;
  }
  .heading {
    text-transform: capitalize !important;
  }
  .fruits-items button {
    height: 30px;
    min-width: 50px !important;
    padding: 5px 6px !important;
  }

  .fruits-items {
    margin-right: 0px;
  }
  .available-dot {
    margin-left: 28%;
    top: 19px;
  }
  .chart-div {
    width: 400px;
    height: 250px;
  }
  .dashboard-div {
    padding: 30px 25px;
  }
}
